.menu {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #024d3efb;
}

.menu-header {
    width: 100%;
    height: 23%;
    padding: 0 1rem;
    border-top-right-radius: 8px;
    background-color: var(--color-secondary);
    box-shadow: -133px -85px 112px 55px rgba(0,0,0,0.75);
}

.menu-header .btn-menu {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

.menu-header .icon-user{
    font-size: 4.3rem;
    cursor: pointer;
    color: #fff;
}

.menu-header .img-user{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #000;
}

.menu-header .name-user {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    margin-top: 6px;
}