.content {
    width: 100%;
    padding: 0 16px;
    border-top: 6px solid var(--color-primary);
}

.logo {
    width: 5rem;
    height: 5rem;
}

.form-login {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.wrap {
    width: 450px;
    height: auto;
    background-color: #eee;
    margin: auto;
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px 16px;
    border-top: 3px solid var(--color-primary);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.form-header {
    border-bottom: 1px solid #ccc;
}

.btn-color {
    background-color: var(--color-primary);
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
}

.btn-color:hover {
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
}

.not-s {
    user-select: none;
}

.btn-active {
    color: var(--color-secondary);
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn-active:hover {
    color: var(--color-primary);
}

@media screen and (max-width: 489px){
    .wrap {
        width: 350px;
    }
}

@media screen and (max-width: 366px){
    .wrap {
        width: 300px;
    }
}